aiofiles==0.7.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
dominate==2.6.0
h11==0.12.0
h2==3.2.0
hpack==3.0.0
httpcore==0.12.3
httpx==0.16.1
hyperframe==5.2.0
idna==2.10
multidict==5.1.0
pytchat==0.5.3
requests==2.25.1
rfc3986==1.5.0
sniffio==1.2.0
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
